/* Body 기본 스타일 */
body {
  font-family: "Noto Serif KR", sans-serif;
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

/* 메인 컨테이너 */
.container {
  background: #ffffff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 400px;
  max-height: 90vh;
  overflow-y: auto;
  border: 5px solid #b5dcb5;
  max-width: 90%; /* 반응형 */
}

header {
  text-align: center;
  margin-bottom: 20px;
}

/* Add User 버튼 */
.btn_add {
  width: 98%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 15px;
  background-color: #4caf50;
  color: white;
}

.btn_add:hover {
  background-color: #4e814e;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Edit User 버튼 */
.btn_edit {
  background-color: #4caf50;
  color: white;
  width: 98%;
  height: 30px;
  margin: 5px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 13px;
}

.btn_edit:hover {
  background-color: #83b783;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Delete User 버튼 */
.btn_delete {
  background-color: #becfb3;
  color: white;
  width: 98%;
  height: 30px;
  margin: 5px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 13px;
}

.btn_delete:hover {
  background-color: #d9534f;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* 사용자 리스트 */
.user-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* 사용자 항목 */
.user-item {
  background-color: #edf8ed;
  padding: 15px;
  border: 1px solid #cde8c1;
  border-radius: 8px;
  margin-bottom: 10px; /* 간격 추가 */
}

.user-item p {
  margin: 5px 0;
  font-size: 14px;
}

/* 모달 스타일 */
.modal {
  display: none;
}

.modal.open {
  display: flex;
}

.modal-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 500px;
  max-height: 80vh;
  overflow-y: auto;
}
